<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<link rel="stylesheet" href="../styles/style.css">
<body>
<div class="wrapper">
    <img class="avatar" src="../images/box.png" alt="person's image">
    <div class="text">
        <h1>About me</h1>
        <p>I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. </p>
    </div>
</div>
</body>
</html>