<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Second Practice</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Hind:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
</head>
<body>
<div class="post">
    <img class="post__icon" src="../images/photo_icon.png"/>
    <img class="post__photo" src="../images/post_preview.png"/>
    <div class="post__content">
        <div class="post__description">
            <h3 class="post__description__section">Adventures</h3>

            <h2 class="post__description__title">Awesome gallery post</h2>

            <h3 class="post__description__date">January 19, 2016</h3>
            <div class="post__description__title__border">
                <h3 class="post__description__link"><a href="">Read more</a></h3>
            </div>
        </div>
        <div class="post__comments">
            <div class="post__comments__icon"><img src="../images/comments_icon.png"/></div>
            <div class="post__comments__section"><h3>02 Comments</h3></div>
        </div>
    </div>
</div>
</body>
</html>
