<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshop weeks 4-5</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div class="main">
    <h2 class="section-title">Skills</h2>
    <ul class="skills">
        <li class="skills__item">
            <h3 class="skills__title ">Communication</h3>
            <div class="skills__border communication"></div>
        </li>
        <li class="skills__item">
            <h3 class="skills__title">Creativity</h3>
            <div class="skills__border creativity"></div>
        </li>
        <li class="skills__item">
            <h3 class="skills__title">Teamwork</h3>
            <div class="skills__border teamwork"></div>
        </li>
        <li class="skills__item">
            <h3 class="skills__title">Organization</h3>
            <div class="skills__border organization"></div>
        </li>
        <li class="skills__item">
            <h3 class="skills__title">Leadership</h3>
            <div class="skills__border leadership"></div>
        </li>
        <li class="skills__item">
            <h3 class="skills__title">Teamplayer</h3>
            <div class="skills__border teamplayer"></div>
        </li>
    </ul>
</div>
</body>
</html>