body {
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 5.833333333%;
    padding-right: 5.833333333%;
    padding-top: 5.833333333%;
}

.main_block__article, .main_block__aside {
    display: inline-block;
    vertical-align: top;
}

.nav_bar__logo, .nav_bar__sections_list {
    display: inline-block;
    vertical-align: top;
}

.nav_bar__sections_list {
    float: right;
}

.nav_bar__sections_list .section_title {
    display: block;
    padding-left: 60px;
    padding-right: 60px;

}

.nav_bar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_bar__list_item {
    float: left;

}

.logo {
}

.footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer__list__item {
    float: left;
}

.footer__list__item a {
    display: block;
    font-size: 14px;
    color: #000000;
    font-family: "Arial", serif;
    padding: 14px 16px;
}

.welcome_block {
}

.welcome_block img {
    width: 100%;
}

.main_block {
    margin-top: 100px;
    margin-bottom: 100px;
}

.main_block__article {
    box-sizing: border-box;
    width: 69.811320755%;
    padding-left: 7.075471698%;
}

.main_block__article img {
    width: 100%;
}

.main_block__article .section_title {
    margin-top: 0;
}

.main_block__aside {
    width: 25.471698113%;
    float: right;
}

.main_block__aside__about_me img {
    width: 100%;
}

.main_block__aside__list {
    color: #b4ac9e;
    padding-left: 1em;
}

.main_block_aside__list__item {
    padding-left: 1em;
}

footer {
    padding: 1.304347826% 12.082531458%;
    background-color: #efefef;
}

.section_title {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #626262;
    font-family: "Arial", serif;
}

.title {
    font-size: 30px;
    color: #626262;
    font-family: "Arial", serif;
}

.aside__title {
    font-size: 24px;
    color: #626262;
    font-family: "Arial", serif;
}

.article {
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Arial", serif;
}

.post_title {
    font-size: 16px;
    color: #626262;
    font-family: "Arial", serif;
}

.comments_count {
    font-size: 12px;
    color: #b4ad9e;
    font-family: "Arial", serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

