body {
    margin: 0;
}

.main {
    margin: 50px 0 0 50px;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #1a1a1a;
    display: inline-block;
    text-align: center;
    width: 221px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    background-color: #e8c734;
}

.skills {
    padding: 0;
    margin: 0;
    list-style: none;
}

.skills__item {
    margin-top: 50px;
}

.skills__item:first-child {
    margin-top: 45px;
}

.skills__title {
    font-family: "Roboto", sans-serif;
    font-size: 31px;
    font-weight: 400;
    color: #1a1a1a;
}

.skills__border {
    width: 615px;
    height: 26px;
    position: relative;
    border: 2px solid #bbbcbe;
    margin: 0;
}
.communication:after, .teamwork:after, .leadership:after{
    width: 457px;
}
.creativitiy:after, .organization:after, .teamplayer:after{
    width: 546px;
}

.skills__border:after {
    content: '';
    position: absolute;
    height: 30px;
    top: -2px;
    left: -2px;
    background-color: #808183;
}
