body {
    margin: 0;
}

.post {
    margin: 5vmin;
    position: relative;
    width: 60vmin;
    height: 90vmin;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.post__photo {
    width: 100%;
}

.post__icon {
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.post h3 {
    font-family: "Hind", serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
}

.post__comments__icon {
    flex: 0.1;
    margin-left: 12.857142857%;

}

.post__comments__section {

}

.post__description {
    margin: 10%;
}

.post__description__link  a {
    letter-spacing: 3px;
    color: #999999;
    text-decoration: none;
    margin: 5px;
}

.post__description__link  a:hover {
    color: #d67900;
}

.post__description__link {
    text-align: center;
    margin-top: 30px;
}

.post__description__title__border {
    position: relative;
}
.post__description__link a:after,  .post__description__link a:before {
    content: "";
    width: 30px;
    display: block;
    border-top: #d6d6d6 2px solid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.post__description__link a:after{
    top: -5px;
}
.post__description__link a:before{
    top: 25px;
}
.post__description__link a:hover:after,  .post__description__link a:hover:before {
    border-top: #d67900 2px solid;
}
.post__description__section {
    text-align: center;
}

.post__description__date {
    text-align: center;
}

.post__comments {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #d6d6d6;
    padding: 5px;
}

.post__description__title {
    text-transform: uppercase;
    font-size: 20px;
    color: #212121;
    font-family: "Montserrat", serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

