<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MINIMO</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
<div class="container">
    {{> header/header}}
    <div class="main_block">
        {{> @partial-block}}
        {{> sidebar/sidebar}}
    </div>
</div>
{{> footer/footer}}
</body>
</html>