<header class="header">
    <nav class="nav_bar">
        <div class="nav_bar__logo">
            <a href=""><img class="logo" src="images/logo.png"></a>
        </div>
        <div class="nav_bar__sections_list">
            <ul class="nav_bar__list">
                <li class="nav_bar__list_item"><a class="section_title" href="">lifestyle</a></li>
                <li class="nav_bar__list_item"><a class="section_title" href="">photodiary</a></li>
                <li class="nav_bar__list_item"><a class="section_title" href="">music</a></li>
                <li class="nav_bar__list_item"><a class="section_title" href="">travel</a></li>
            </ul>
        </div>
    </nav>
    <img src="images/two_girls.png" alt="two girls in sunglasses">
</header>