<aside class="aside">
    <div class="main_block__aside__about_me">
        <img src="images/girl_with_cup.png" alt="girl holding a cup with print on it">
        <h2 class="aside__title">About me</h2>
        <p class="article_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="main_block__aside__posts">
        <h3 class="section_title">Top posts</h3>
        <ul class="main_block__aside__list">
            <li class="main_block_aside__list__item">
                <p><a class="post_title" href="">A day exploring the Alps</a></p>
                <p class="comments_count">24 comments</p>
            </li>
            <li class="main_block_aside__list__item">
                <p><a class="post_title" href="">American dream</a></p>
                <p class="comments_count">19 comments</p>
            </li>
            <li class="main_block_aside__list__item">
                <p><a class="post_title" href="">Cold winter days</a></p>
                <p class="comments_count">15 comments</p>
            </li>
        </ul>
    </div>
</aside>